//$font-path: 'https://unpkg.com/carbon-components@latest/src/globals/fonts' !default;
$font-path: '';

@import 'import-once';

@mixin roboto-font-face {
  @font-face {
    font-family: 'roboto-regular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('fonts/roboto-regular-webfont.woff') format('woff');
  }
}

@include exports('css--font-face') {
  @if not global-variable-exists('css--font-face') or $css--font-face == true {
    @include roboto-font-face;
  }
}
